@import "@radix-ui/themes/styles.css";
@import "tailwindcss";
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: #1e293b; /* cor do track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ef4444; /* cor do thumb */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}
